nav li{
    display: inline-block;
    padding: 0.3rem;
  }
  
  img{
    max-width:100%;
    display:block;
    height:auto;
    margin: auto;
    padding-top:109px;
  }
  
  #header{
    text-align: right;
  }
  body{
    font-family:sans-serif;
    font-size:0.85rem;
    color:gray
  }
  #header a:link{
   text-decoration: none; 
   color: black; 
  }
  #header a:hover{
    text-decoration: underline;
    color: gray;
  }
  #header a:active{
    text-decoration: underline;
    color:blue;
  }
  #search{
    margin:auto;
  }
  #buttons{
    margin: auto;
  }
  #poweredby{
    text-align:center;
    color: black;
    padding-bottom: 35px;
  }
  
  button{
    border: none;
    background: white;
    color: gray;
    padding: 0.5rem 1rem;
    letter-spacing: 0.02rem;
    font-family:sans-serif;
    font-size:0.98rem;
  }
  button:hover{
    color:black;
    border: 0.01em solid gray;
  }
  
  #country{
    text-align:left;
    padding-left: 0.3rem;
  }
  footer a:link{
    text-decoration: none; 
    color: gray;
  }
  
  #leftbar{
    float:left;
    display: inline-block;
    position: relative;
  }
  #rightbar{
    float: right;
    display: inline-block;
    position: relative;
  }